@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.97 0 0);
  --foreground: oklch(0.15 0 0);

  --secondary: oklch(0.99 0 0);
  --secondary-foreground: oklch(0.2 0 0);

  --muted: oklch(1 0 0);
  --muted-foreground: oklch(0.4 0 0);

  --ring: oklch(0.4 0 0);
  --input: oklch(0 0 0 / 15%);
  --border: oklch(0 0 0 / 10%);

  --accent: oklch(0.8 0.15 211);

  --info: oklch(0.6 0.16 224);
  --danger: oklch(0.6 0.22 27);
  --warning: oklch(0.6 0.18 70);
  --success: oklch(0.6 0.16 152);

  --radius: 0.75rem;

  --font-sans: "Nunito Variable", system-ui, sans-serif;
  --font-mono: "JetBrains Mono Variable", monospace;
}

.dark {
  --background: oklch(0.2 0 0);
  --foreground: oklch(0.95 0 0);

  --secondary: oklch(0.24 0 0);
  --secondary-foreground: oklch(0.9 0 0);

  --muted: oklch(0.28 0 0);
  --muted-foreground: oklch(0.6 0 0);

  --ring: oklch(0.6 0 0);
  --input: oklch(1 0 0 / 15%);
  --border: oklch(1 0 0 / 10%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);

  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);

  --color-accent: var(--accent);

  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-danger: var(--danger);
  --color-info: var(--info);

  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);

  --radius-xs: calc(var(--radius) - 4px);
  --radius-sm: calc(var(--radius) - 2px);
  --radius-md: var(--radius);
  --radius-lg: calc(var(--radius) + 2px);
  --radius-xl: calc(var(--radius) + 4px);

  --wrapper-xs: 12rem;
  --wrapper-sm: 24rem;
  --wrapper-md: 36rem;
  --wrapper-lg: 48rem;
  --wrapper-xl: 60rem;

  --breakpoint-xs: 30rem;

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--accordion-panel-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--accordion-panel-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  ::selection {
    @apply bg-accent/25;
  }

  html {
    @apply scroll-pt-4 scroll-smooth scrollbar-4;
  }

  body {
    @apply min-h-screen bg-background text-foreground;
    @apply antialiased overflow-x-hidden;

    font-family: var(--font-sans);
  }

  a {
    @apply focus-visible:outline-accent/50 focus-visible:outline-1;
    @apply transition-colors duration-150 ease-linear;
    @apply rounded-[1px];
  }
}

@utility text-responsive {
  @apply text-base md:text-sm;
}

@utility h-view {
  height: calc(100vh - 3rem);
  max-height: calc(100vh - 3rem);
}

@utility all-unset {
  all: unset;
}

@utility link {
  @apply text-muted-foreground hover:text-accent;
  @apply underline-offset-3 underline;
  @apply decoration-current decoration-1;
}

@utility shine {
  @apply relative;

  &::before {
    content: "";

    @apply absolute top-0 left-[10%];
    @apply w-4 h-full z-10 pointer-events-none;
    @apply bg-white/10 -skew-4 rounded-none;
    @apply transition-all duration-300 ease-out;
  }

  &:hover::before {
    @apply left-[75%] w-6;
  }
}

@utility pb-mobile-nav {
  padding-bottom: calc(4rem + env(safe-area-inset-bottom, 0px));
}

@utility transition-fast {
  @apply transition-all duration-250 ease-linear;
}

@utility transition-slow {
  @apply transition-all duration-450 ease-linear;
}

@utility wrapper-* {
  @apply mx-auto w-[calc(100%-1.8rem)] xs:w-[calc(100%-4rem)] md:w-[calc(100%-6rem)] lg:w-[calc(100%-8rem)];
  max-width: --value(--wrapper-*, integer);
}

@utility scrollbar-* {
  &::-webkit-scrollbar {
    width: calc(--value(number) * 2px);
    height: calc(--value(number) * 2px);
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-border/80 rounded-full;
  }

  &::-webkit-scrollbar-thumb:hover {
    @apply bg-border/90;
  }
}
