@import "tailwindcss";
@import "tw-animate-css";
@import "@cubing/icons/css";

@custom-variant dark (&:is(.dark *));

:root {
  --inset: oklch(0.88 0 0);
  --background: oklch(0.92 0 0);
  --muted: oklch(0.98 0 0);

  --inset-shadow: oklch(0.86 0 0);

  --background-shadow: oklch(0.9 0 0);
  --background-inset-shadow: oklch(0.94 0 0);

  --muted-shadow: oklch(0.96 0 0);
  --muted-inset-shadow: oklch(1 0 0);

  --foreground: oklch(0.15 0 0);
  --muted-foreground: oklch(0.35 0 0);

  --border: oklch(0.35 0 0 / 10%);

  --accent: oklch(0.55 0.2 245);
  --danger: oklch(0.55 0.2 28);
  --warning: oklch(0.57 0.2 85);
  --success: oklch(0.55 0.2 155);

  --radius: 0.5rem;

  --font-sans: "Rubik Variable", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: "JetBrains Mono Variable", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.dark {
  --inset: oklch(0.2 0 0);
  --background: oklch(0.24 0 0);
  --muted: oklch(0.3 0 0);

  --inset-shadow: oklch(0.18 0 0);

  --background-shadow: oklch(0.22 0 0);
  --background-inset-shadow: oklch(0.26 0 0);

  --muted-shadow: oklch(0.28 0 0);
  --muted-inset-shadow: oklch(0.32 0 0);

  --foreground: oklch(0.9 0 0);
  --muted-foreground: oklch(0.7 0 0);

  --border: oklch(0.7 0 0 / 10%);
}

@theme inline {
  --color-inset: var(--inset);
  --color-background: var(--background);
  --color-muted: var(--muted);

  --color-inset-shadow: var(--inset-shadow);

  --color-background-shadow: var(--background-shadow);
  --color-background-inset-shadow: var(--background-inset-shadow);

  --color-muted-shadow: var(--muted-shadow);
  --color-muted-inset-shadow: var(--muted-inset-shadow);

  --color-foreground: var(--foreground);
  --color-muted-foreground: var(--muted-foreground);

  --color-border: var(--border);

  --color-accent: var(--accent);
  --color-danger: var(--danger);
  --color-success: var(--success);
  --color-warning: var(--warning);

  --radius-xs: calc(var(--radius) - 4px);
  --radius-sm: calc(var(--radius) - 2px);
  --radius-md: var(--radius);
  --radius-lg: calc(var(--radius) + 2px);
  --radius-xl: calc(var(--radius) + 4px);

  --text-xs: 0.75rem;
  --text-xs--line-height: 1.6;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.55;
  --text-base: 1rem;
  --text-base--line-height: 1.6;
  --text-lg: 1.125rem;
  --text-lg--line-height: 1.55;
  --text-xl: 1.25rem;
  --text-xl--line-height: 1.5;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 1.4;
  --text-3xl: 1.875rem;
  --text-3xl--line-height: 1.3;
  --text-4xl: 2.25rem;
  --text-4xl--line-height: 1.2;
  --text-5xl: 3rem;
  --text-5xl--line-height: 1.15;
  --text-6xl: 3.75rem;
  --text-6xl--line-height: 1.1;
  --text-7xl: 4.5rem;
  --text-7xl--line-height: 1.05;
  --text-8xl: 6rem;
  --text-8xl--line-height: 1;
  --text-9xl: 8rem;
  --text-9xl--line-height: 1;

  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-normal: 300;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  --tracking-tighter: -0.02em;
  --tracking-tight: -0.01em;
  --tracking-normal: 0em;
  --tracking-wide: 0.01em;
  --tracking-wider: 0.02em;
  --tracking-widest: 0.04em;

  --leading-tight: 1.2;
  --leading-snug: 1.35;
  --leading-normal: 1.6;
  --leading-relaxed: 1.7;
  --leading-loose: 2;

  --wrapper-xs: 12rem;
  --wrapper-sm: 24rem;
  --wrapper-md: 36rem;
  --wrapper-lg: 48rem;
  --wrapper-xl: 60rem;

  --breakpoint-xs: 30rem;

  --shadow-xs: 0 1px 0 0 oklch(0 0 0);
  --shadow-sm: 0 2px 0 0 oklch(0 0 0);
  --shadow-md: 0 3px 0 0 oklch(0 0 0);
  --shadow-lg: 0 4px 0 0 oklch(0 0 0);
  --shadow-xl: 0 5px 0 0 oklch(0 0 0);

  --inset-shadow-xs: inset 0 1px 0 0 oklch(0 0 0);
  --inset-shadow-sm: inset 0 2px 0 0 oklch(0 0 0);
  --inset-shadow-md: inset 0 3px 0 0 oklch(0 0 0);

  --animate-accordion-down: accordion-down 0.3s var(--ease-in-out);
  --animate-accordion-up: accordion-up 0.3s var(--ease-in-out);

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--accordion-panel-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--accordion-panel-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  ::selection {
    @apply bg-accent/25;
  }

  html {
    @apply scroll-pt-4 scroll-smooth scrollbar-4;
  }

  body {
    @apply min-h-screen bg-background text-foreground;
    @apply transition-colors duration-200;
    @apply antialiased overflow-x-hidden;
  }

  a {
    @apply outline-accent/50 focus-visible:outline-1;
    @apply duration-200 rounded-[1px];
  }

  .recharts-surface {
    @apply focus-ring rounded-sm **:focus:outline-none;

    &:focus {
      outline: none;
    }
  }
}

@utility shadows {
  @apply shadow-background-shadow inset-shadow-background-inset-shadow;
}

@utility shadows-muted {
  @apply shadow-muted-shadow inset-shadow-muted-inset-shadow;
}

@utility shadows-inset {
  @apply inset-shadow-inset-shadow;
}

@utility shadows-accent {
  --tw-shadow-color: color-mix(in oklch, var(--accent), black 10%);
  --tw-inset-shadow-color: color-mix(in oklch, var(--accent), white 10%);
}

@utility shadows-danger {
  --tw-shadow-color: color-mix(in oklch, var(--danger), black 10%);
  --tw-inset-shadow-color: color-mix(in oklch, var(--danger), white 10%);
}

@utility shadows-success {
  --tw-shadow-color: color-mix(in oklch, var(--success), black 10%);
  --tw-inset-shadow-color: color-mix(in oklch, var(--success), white 10%);
}

@utility shadows-warning {
  --tw-shadow-color: color-mix(in oklch, var(--warning), black 10%);
  --tw-inset-shadow-color: color-mix(in oklch, var(--warning), white 10%);
}

@utility text-responsive {
  @apply text-base md:text-sm;
}

@utility link {
  @apply text-muted-foreground hover:text-accent;
  @apply underline-offset-3 underline;
  @apply decoration-current decoration-1;
}

@utility input {
  @apply h-9 px-2.5 py-1 flex bg-inset w-full;
  @apply text-foreground placeholder:text-muted-foreground text-responsive;
  @apply inset-shadow-sm shadows-inset;
  @apply rounded-sm outline-none duration-200;
  @apply disabled:opacity-50 disabled:cursor-not-allowed;
  @apply focus-ring focus-visible:ring-foreground/50;
  @apply aria-invalid:border-danger/75 aria-invalid:text-danger/75;
  @apply aria-invalid:ring-danger/50 aria-invalid:placeholder:text-danger/75;
}

@utility pb-mobile-nav {
  padding-bottom: calc(4rem + env(safe-area-inset-bottom, 0px));
}

@utility focus-ring {
  @apply focus-visible:outline-none focus-visible:ring-3 focus-visible:ring-accent/50;
}

@utility wrapper-* {
  @apply mx-auto w-[calc(100%-1.8rem)] xs:w-[calc(100%-4rem)] md:w-[calc(100%-6rem)] lg:w-[calc(100%-8rem)];
  max-width: --value(--wrapper-*, integer);
}

@utility scrollbar-* {
  &::-webkit-scrollbar {
    width: calc(--value(number) * 2px);
    height: calc(--value(number) * 2px);
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-muted rounded-full;
  }

  &::-webkit-scrollbar-thumb:hover {
    @apply bg-muted-inset-shadow;
  }
}
